---
import Layout from '../components/layout/Layout.astro';
import Navigation from '../components/layout/Navigation.astro';
import Hero from '../components/sections/Hero.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Values from '../components/sections/Values.astro';
import Services from '../components/sections/Services.astro';
---

<Layout title="HomeMaster Interior Painting">
  <Navigation />
  <main class="overflow-hidden">
    <Hero />
    <AboutUs />
    <Values />
    <Services />
  </main>
</Layout>
