---
import Layout from "../components/layout/Layout.astro";
import Navigation from "../components/layout/Navigation.astro";
---

<Layout title="HomeMaster - Interior Painting Services">
	<Navigation />
	<main class="container mx-auto px-4">
		<!-- Add your main content here -->
	</main>
</Layout>
